<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkDivision.Meta" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WorkDivision.Meta>
            <setting name="version_number" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="version_tex" serializeAs="String">
                <value />
            </setting>
        </WorkDivision.Meta>
    </applicationSettings>
</configuration>